openapi: 3.0.1
info:
  title: DSURV
  version: '1.0'
servers:
  - url: https://apim.pre.dvn.com/dsurv
  - url: https://api.pre.dvn.com/dsurv
  - url: https://ext.api.pre.dvn.com/dsurv
paths:
  '/api/v2/permissions/{permissionId}':
    get:
      tags:
        - ApplicationPermissionApiV2
      summary: ApplicationPermissionApiV2_GetById
      description: ApplicationPermissionApiV2_GetById
      operationId: ApplicationPermissionApiV2_GetById
      parameters:
        - name: permissionId
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2PermissionsPermissionIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2PermissionsPermissionIdGet200TextJsonResponse'
  /api/v2/permissions:
    get:
      tags:
        - ApplicationPermissionApiV2
      summary: ApplicationPermissionApiV2_Get
      description: ApplicationPermissionApiV2_Get
      operationId: ApplicationPermissionApiV2_Get
      parameters:
        - name: applicationPermissionSearchModel.question
          in: query
          schema:
            type: string
        - name: applicationPermissionSearchModel.page
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
        - name: applicationPermissionSearchModel.pageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2PermissionsGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2PermissionsGet200TextJsonResponse'
  /api/authorization:
    get:
      tags:
        - Authorization
      summary: Authorization_Get
      description: Authorization_Get
      operationId: Authorization_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAuthorizationGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiAuthorizationGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/changelog':
    get:
      tags:
        - ChangelogApi
      summary: ChangelogApi_GetAll
      description: ChangelogApi_GetAll
      operationId: ChangelogApi_GetAll
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiChangelogGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiChangelogGet200TextJsonResponse'
  '/api/v2/wells/{duwi}/changelog':
    get:
      tags:
        - ChangelogApi
      summary: ChangelogApi_Get
      description: ChangelogApi_Get
      operationId: ChangelogApi_Get
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiChangelogGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiChangelogGet200TextJsonResponse'
  '/api/well/{duwi}/wellbore/{wellboreName}/composite':
    get:
      tags:
        - CompositeApi
      summary: CompositeApi_Get
      description: CompositeApi_Get
      operationId: CompositeApi_Get
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellboreName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWellDuwiWellboreWellboreNameCompositeGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiWellDuwiWellboreWellboreNameCompositeGet200TextJsonResponse'
  '/api/well/{duwi}/wellbore/{wellboreName}/composite/count':
    get:
      tags:
        - CompositeApi
      summary: CompositeApi_Count
      description: CompositeApi_Count
      operationId: CompositeApi_Count
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellboreName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWellDuwiWellboreWellboreNameCompositeCountGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiWellDuwiWellboreWellboreNameCompositeCountGet200TextJsonResponse'
  '/api/well/{duwi}/wellbore/{wellboreName}/composite/export':
    get:
      tags:
        - CompositeApi
      summary: CompositeApi_ExportCompositeByWellboreId
      description: CompositeApi_ExportCompositeByWellboreId
      operationId: CompositeApi_ExportCompositeByWellboreId
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellboreName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWellDuwiWellboreWellboreNameCompositeExportGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiWellDuwiWellboreWellboreNameCompositeExportGet200TextJsonResponse'
  '/api/contacts/{targetWellId}/from/{sourceWellId}':
    get:
      tags:
        - ContactApi
      summary: ContactApi_ImportContactsFromWell
      description: ContactApi_ImportContactsFromWell
      operationId: ContactApi_ImportContactsFromWell
      parameters:
        - name: targetWellId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
        - name: sourceWellId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactsTargetWellIdFromSourceWellIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiContactsTargetWellIdFromSourceWellIdGet200TextJsonResponse'
  /api/contacts/wellview/sync:
    get:
      tags:
        - ContactApi
      summary: ContactApi_WellviewContactSync
      description: ContactApi_WellviewContactSync
      operationId: ContactApi_WellviewContactSync
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactsWellviewSyncGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiContactsWellviewSyncGet200TextJsonResponse'
  /api/contactrole:
    get:
      tags:
        - ContactRoleApi
      summary: ContactRoleApi_Get
      description: ContactRoleApi_Get
      operationId: ContactRoleApi_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactroleGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiContactroleGet200TextJsonResponse'
  '/api/convergence/{duwi}/{coordinateRefSystemId}':
    get:
      tags:
        - ConvergenceCalculator
      summary: ConvergenceCalculator_Get
      description: ConvergenceCalculator_Get
      operationId: ConvergenceCalculator_Get
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: coordinateRefSystemId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiConvergenceDuwiCoordinateRefSystemIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiConvergenceDuwiCoordinateRefSystemIdGet200TextJsonResponse'
  /api/coordinaterefsystem:
    get:
      tags:
        - CoordinateRefSystemApi
      summary: CoordinateRefSystemApi_Get
      description: CoordinateRefSystemApi_Get
      operationId: CoordinateRefSystemApi_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCoordinaterefsystemGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiCoordinaterefsystemGet200TextJsonResponse'
  '/api/coordinaterefsystem/id/{coordinateRefSystemId}':
    get:
      tags:
        - CoordinateRefSystemApi
      summary: CoordinateRefSystemApi_GetWithId
      description: CoordinateRefSystemApi_GetWithId
      operationId: CoordinateRefSystemApi_GetWithId
      parameters:
        - name: coordinateRefSystemId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCoordinaterefsystemIdCoordinateRefSystemIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiCoordinaterefsystemIdCoordinateRefSystemIdGet200TextJsonResponse'
  '/api/coordinaterefsystem/{duwi}':
    get:
      tags:
        - CoordinateRefSystemApi
      summary: CoordinateRefSystemApi_GetLookup
      description: CoordinateRefSystemApi_GetLookup
      operationId: CoordinateRefSystemApi_GetLookup
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCoordinaterefsystemDuwiGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiCoordinaterefsystemDuwiGet200TextJsonResponse'
  /api/admin/criticalpoint/override:
    post:
      tags:
        - CriticalPoint
      summary: CriticalPoint_OverrideActual
      description: CriticalPoint_OverrideActual
      operationId: CriticalPoint_OverrideActual
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCriticalPointModel'
            example:
              criticalPointType: string
              wellboreId: 0
              md: 0
          text/json:
            schema:
              $ref: '#/components/schemas/CreateCriticalPointModel'
            example:
              criticalPointType: string
              wellboreId: 0
              md: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAdminCriticalpointOverridePost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiAdminCriticalpointOverridePost200TextJsonResponse'
  '/vendor/v2/well/{duwi}/wellbore/{wellboreName}/criticalpoints/actual':
    get:
      tags:
        - CriticalPoints
      summary: CriticalPoints_GetActualsByWellboreName
      description: CriticalPoints_GetActualsByWellboreName
      operationId: CriticalPoints_GetActualsByWellboreName
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellboreName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiWellboreWellboreNameCriticalpointsActualGet200ApplicationJso'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiWellboreWellboreNameCriticalpointsActualGet200TextJsonRespon'
  '/vendor/v2/wellbore/{wellboreId}/criticalpoints/actual':
    get:
      tags:
        - CriticalPoints
      summary: CriticalPoints_GetActuals
      description: CriticalPoints_GetActuals
      operationId: CriticalPoints_GetActuals
      parameters:
        - name: wellboreId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellboreWellboreIdCriticalpointsActualGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellboreWellboreIdCriticalpointsActualGet200TextJsonResponse'
  '/vendor/v2/well/{duwi}/wellbore/{wellboreName}/criticalpoints/planned':
    get:
      tags:
        - CriticalPoints
      summary: CriticalPoints_GetPlannedByWellbore
      description: CriticalPoints_GetPlannedByWellbore
      operationId: CriticalPoints_GetPlannedByWellbore
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellboreName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiWellboreWellboreNameCriticalpointsPlannedGet200ApplicationJs'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiWellboreWellboreNameCriticalpointsPlannedGet200TextJsonRespo'
  '/vendor/v2/wellbore/{wellboreId}/criticalpoints/planned':
    get:
      tags:
        - CriticalPoints
      summary: CriticalPoints_GetPlanned
      description: CriticalPoints_GetPlanned
      operationId: CriticalPoints_GetPlanned
      parameters:
        - name: wellboreId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellboreWellboreIdCriticalpointsPlannedGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellboreWellboreIdCriticalpointsPlannedGet200TextJsonResponse'
  /api/v1/dashboard/wells:
    get:
      tags:
        - DashboardApi
      summary: DashboardApi_GetPagedWells
      description: DashboardApi_GetPagedWells
      operationId: DashboardApi_GetPagedWells
      parameters:
        - name: pageNumber
          in: query
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
        - name: itemsPerPage
          in: query
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
        - name: searchText
          in: query
          required: true
          schema:
            type: string
        - name: excludeVisible
          in: query
          schema:
            type: boolean
        - name: excludeHidden
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1DashboardWellsGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1DashboardWellsGet200TextJsonResponse'
  '/api/declination/{duwi}':
    get:
      tags:
        - DeclinationCalculator
      summary: DeclinationCalculator_Get
      description: DeclinationCalculator_Get
      operationId: DeclinationCalculator_Get
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDeclinationDuwiGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiDeclinationDuwiGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/distrolist':
    get:
      tags:
        - DistroListApi
      summary: DistroListApi_GetAll
      description: DistroListApi_GetAll
      operationId: DistroListApi_GetAll
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistGet200TextJsonResponse'
    put:
      tags:
        - DistroListApi
      summary: DistroListApi_Update
      description: DistroListApi_Update
      operationId: DistroListApi_Update
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditContactModel'
            example:
              contactId: 0
              wellId: 0
              contactName: string
              contactRoleName: string
              emailAddress: string
              phone: string
              workScheduleStart: string
              workScheduleEnd: string
          text/json:
            schema:
              $ref: '#/components/schemas/EditContactModel'
            example:
              contactId: 0
              wellId: 0
              contactName: string
              contactRoleName: string
              emailAddress: string
              phone: string
              workScheduleStart: string
              workScheduleEnd: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistPut200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistPut200TextJsonResponse'
    post:
      tags:
        - DistroListApi
      summary: DistroListApi_Create
      description: DistroListApi_Create
      operationId: DistroListApi_Create
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactModel'
            example:
              wellId: 0
              contactName: string
              contactRoleName: string
              emailAddress: string
              phone: string
              workScheduleStart: string
              workScheduleEnd: string
          text/json:
            schema:
              $ref: '#/components/schemas/AddContactModel'
            example:
              wellId: 0
              contactName: string
              contactRoleName: string
              emailAddress: string
              phone: string
              workScheduleStart: string
              workScheduleEnd: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistPost200TextJsonResponse'
  '/api/v1/wells/{duwi}/distrolist/{contactId}':
    get:
      tags:
        - DistroListApi
      summary: DistroListApi_GetContact
      description: DistroListApi_GetContact
      operationId: DistroListApi_GetContact
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: contactId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistContactIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistContactIdGet200TextJsonResponse'
    delete:
      tags:
        - DistroListApi
      summary: DistroListApi_Delete
      description: DistroListApi_Delete
      operationId: DistroListApi_Delete
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: contactId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistContactIdDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistContactIdDelete200TextJsonResponse'
  '/api/v1/wells/{duwi}/distrolist/invalid':
    get:
      tags:
        - DistroListApi
      summary: DistroListApi_GetInvalidContactCount
      description: DistroListApi_GetInvalidContactCount
      operationId: DistroListApi_GetInvalidContactCount
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistInvalidGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistInvalidGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/distrolist/geo':
    get:
      tags:
        - DistroListApi
      summary: DistroListApi_GetGeoContact
      description: DistroListApi_GetGeoContact
      operationId: DistroListApi_GetGeoContact
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistGeoGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiDistrolistGeoGet200TextJsonResponse'
  /api/logs:
    get:
      tags:
        - EventLogApi
      summary: EventLogApi_GetEventLogsFromLastWeek
      description: EventLogApi_GetEventLogsFromLastWeek
      operationId: EventLogApi_GetEventLogsFromLastWeek
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLogsGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiLogsGet200TextJsonResponse'
  '/api/logs/{limit}':
    get:
      tags:
        - EventLogApi
      summary: EventLogApi_GetEventLogs
      description: EventLogApi_GetEventLogs
      operationId: EventLogApi_GetEventLogs
      parameters:
        - name: limit
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiLogsLimitGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiLogsLimitGet200TextJsonResponse'
  '/vendor/v2/well/{duwi}/files/surveylas':
    get:
      tags:
        - Files
      summary: Files_GetLatestSurveyLas
      description: Files_GetLatestSurveyLas
      operationId: Files_GetLatestSurveyLas
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiFilesSurveylasGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiFilesSurveylasGet200TextJsonResponse'
  '/vendor/v2/well/{duwi}/files/gammalas':
    get:
      tags:
        - Files
      summary: Files_GetLatestGammaLas
      description: Files_GetLatestGammaLas
      operationId: Files_GetLatestGammaLas
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiFilesGammalasGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiFilesGammalasGet200TextJsonResponse'
  '/vendor/v2/well/{duwi}/files/vibrations':
    get:
      tags:
        - Files
      summary: Files_GetLatestVibrations
      description: Files_GetLatestVibrations
      operationId: Files_GetLatestVibrations
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiFilesVibrationsGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiFilesVibrationsGet200TextJsonResponse'
  '/vendor/v2/file/{fileId}':
    get:
      tags:
        - Files
      summary: Files_GetFile
      description: Files_GetFile
      operationId: Files_GetFile
      parameters:
        - name: fileId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2FileFileIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2FileFileIdGet200TextJsonResponse'
  '/vendor/v2/well/{duwi}/files':
    get:
      tags:
        - Files
      summary: Files_GetFilesForWell
      description: Files_GetFilesForWell
      operationId: Files_GetFilesForWell
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiFilesGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiFilesGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/files':
    get:
      tags:
        - FilesApi
      summary: FilesApi_GetAll
      description: FilesApi_GetAll
      operationId: FilesApi_GetAll
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: start
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          description: Format - date-time (as date-time in RFC3339).
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiFilesGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiFilesGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/files/{fileType}':
    get:
      tags:
        - FilesApi
      summary: FilesApi_GetFilesByType
      description: FilesApi_GetFilesByType
      operationId: FilesApi_GetFilesByType
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: fileType
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiFilesFileTypeGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiFilesFileTypeGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/files/{fileId}/delete':
    delete:
      tags:
        - FilesApi
      summary: FilesApi_Delete
      description: FilesApi_Delete
      operationId: FilesApi_Delete
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: fileId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiFilesFileIdDeleteDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiFilesFileIdDeleteDelete200TextJsonResponse'
  '/api/v1/wells/{duwi}/files/upload':
    post:
      tags:
        - FilesApi
      summary: FilesApi_Post
      description: FilesApi_Post
      operationId: FilesApi_Post
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiFilesUploadPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiFilesUploadPost200TextJsonResponse'
  /api/v1/filetypes:
    get:
      tags:
        - FileTypesApi
      summary: FileTypesApi_Get
      description: FileTypesApi_Get
      operationId: FileTypesApi_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1FiletypesGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1FiletypesGet200TextJsonResponse'
  '/api/wells/{duwi}/geopartner/upload':
    post:
      tags:
        - GeoPartnerApi
      summary: GeoPartnerApi_Upload
      description: GeoPartnerApi_Upload
      operationId: GeoPartnerApi_Upload
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWellsDuwiGeopartnerUploadPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiWellsDuwiGeopartnerUploadPost200TextJsonResponse'
  '/api/wells/{duwi}/geopartner':
    get:
      tags:
        - GeoPartnerApi
      summary: GeoPartnerApi_Get
      description: GeoPartnerApi_Get
      operationId: GeoPartnerApi_Get
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWellsDuwiGeopartnerGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiWellsDuwiGeopartnerGet200TextJsonResponse'
  '/api/wells/{duwi}/geopartner/{fileId}':
    delete:
      tags:
        - GeoPartnerApi
      summary: GeoPartnerApi_Delete
      description: GeoPartnerApi_Delete
      operationId: GeoPartnerApi_Delete
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: fileId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWellsDuwiGeopartnerFileIdDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiWellsDuwiGeopartnerFileIdDelete200TextJsonResponse'
  /api/geosteeringcontact:
    get:
      tags:
        - GeoSteeringContactApi
      summary: GeoSteeringContactApi_Get
      description: GeoSteeringContactApi_Get
      operationId: GeoSteeringContactApi_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGeosteeringcontactGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiGeosteeringcontactGet200TextJsonResponse'
    post:
      tags:
        - GeoSteeringContactApi
      summary: GeoSteeringContactApi_Post
      description: GeoSteeringContactApi_Post
      operationId: GeoSteeringContactApi_Post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoSteeringContactModel'
            example:
              geoSteeringContactId: 0
              name: string
              phone: string
              scheduleStart: string
              scheduleEnd: string
              email: string
              createdOn: string
              createdBy: string
              updatedOn: string
              updatedBy: string
              isDefaultContact: true
          text/json:
            schema:
              $ref: '#/components/schemas/GeoSteeringContactModel'
            example:
              geoSteeringContactId: 0
              name: string
              phone: string
              scheduleStart: string
              scheduleEnd: string
              email: string
              createdOn: string
              createdBy: string
              updatedOn: string
              updatedBy: string
              isDefaultContact: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGeosteeringcontactPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiGeosteeringcontactPost200TextJsonResponse'
  '/api/geosteeringcontact/{id}':
    get:
      tags:
        - GeoSteeringContactApi
      summary: GeoSteeringContactApi_GetById
      description: GeoSteeringContactApi_GetById
      operationId: GeoSteeringContactApi_GetById
      parameters:
        - name: id
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGeosteeringcontactIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiGeosteeringcontactIdGet200TextJsonResponse'
    put:
      tags:
        - GeoSteeringContactApi
      summary: GeoSteeringContactApi_Put
      description: GeoSteeringContactApi_Put
      operationId: GeoSteeringContactApi_Put
      parameters:
        - name: id
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeoSteeringContactModel'
            example:
              geoSteeringContactId: 0
              name: string
              phone: string
              scheduleStart: string
              scheduleEnd: string
              email: string
              createdOn: string
              createdBy: string
              updatedOn: string
              updatedBy: string
              isDefaultContact: true
          text/json:
            schema:
              $ref: '#/components/schemas/GeoSteeringContactModel'
            example:
              geoSteeringContactId: 0
              name: string
              phone: string
              scheduleStart: string
              scheduleEnd: string
              email: string
              createdOn: string
              createdBy: string
              updatedOn: string
              updatedBy: string
              isDefaultContact: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGeosteeringcontactIdPut200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiGeosteeringcontactIdPut200TextJsonResponse'
    delete:
      tags:
        - GeoSteeringContactApi
      summary: GeoSteeringContactApi_Delete
      description: GeoSteeringContactApi_Delete
      operationId: GeoSteeringContactApi_Delete
      parameters:
        - name: id
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGeosteeringcontactIdDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiGeosteeringcontactIdDelete200TextJsonResponse'
  '/api/well/{duwi}/geosteeringcontact':
    get:
      tags:
        - GeoSteeringContactApi
      summary: GeoSteeringContactApi_GetContactsByWellId
      description: GeoSteeringContactApi_GetContactsByWellId
      operationId: GeoSteeringContactApi_GetContactsByWellId
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWellDuwiGeosteeringcontactGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiWellDuwiGeosteeringcontactGet200TextJsonResponse'
  /api/globalcontact:
    get:
      tags:
        - GlobalContactApi
      summary: GlobalContactApi_GetAll
      description: GlobalContactApi_GetAll
      operationId: GlobalContactApi_GetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGlobalcontactGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiGlobalcontactGet200TextJsonResponse'
    put:
      tags:
        - GlobalContactApi
      summary: GlobalContactApi_Put
      description: GlobalContactApi_Put
      operationId: GlobalContactApi_Put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalContactDto'
            example:
              globalContactId: 0
              emailAddress: string
              description: string
              districts:
                - string
              emailTypes:
                - mudlog
          text/json:
            schema:
              $ref: '#/components/schemas/GlobalContactDto'
            example:
              globalContactId: 0
              emailAddress: string
              description: string
              districts:
                - string
              emailTypes:
                - mudlog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGlobalcontactPut200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiGlobalcontactPut200TextJsonResponse'
    post:
      tags:
        - GlobalContactApi
      summary: GlobalContactApi_Post
      description: GlobalContactApi_Post
      operationId: GlobalContactApi_Post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalContactDto'
            example:
              globalContactId: 0
              emailAddress: string
              description: string
              districts:
                - string
              emailTypes:
                - mudlog
          text/json:
            schema:
              $ref: '#/components/schemas/GlobalContactDto'
            example:
              globalContactId: 0
              emailAddress: string
              description: string
              districts:
                - string
              emailTypes:
                - mudlog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGlobalcontactPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiGlobalcontactPost200TextJsonResponse'
  '/api/globalcontact/{id}':
    get:
      tags:
        - GlobalContactApi
      summary: GlobalContactApi_Get
      description: GlobalContactApi_Get
      operationId: GlobalContactApi_Get
      parameters:
        - name: id
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGlobalcontactIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiGlobalcontactIdGet200TextJsonResponse'
    delete:
      tags:
        - GlobalContactApi
      summary: GlobalContactApi_Delete
      description: GlobalContactApi_Delete
      operationId: GlobalContactApi_Delete
      parameters:
        - name: id
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiGlobalcontactIdDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiGlobalcontactIdDelete200TextJsonResponse'
  '/api/v1/wells/{duwi}/sendmail/surveystation':
    post:
      tags:
        - MailApi
      summary: MailApi_SurveyStationSendMail
      description: MailApi_SurveyStationSendMail
      operationId: MailApi_SurveyStationSendMail
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveyStationMailModel'
            example:
              wellId: 0
              surveyStationId: 0
              fileIds:
                - 0
          text/json:
            schema:
              $ref: '#/components/schemas/SurveyStationMailModel'
            example:
              wellId: 0
              surveyStationId: 0
              fileIds:
                - 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSendmailSurveystationPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSendmailSurveystationPost200TextJsonResponse'
  '/api/v2/wells/{duwi}/wellbores/{wellbore}/mudlogreports':
    get:
      tags:
        - MudLogReportsApi
      summary: MudLogReportsApi_GetAllForWell
      description: MudLogReportsApi_GetAllForWell
      operationId: MudLogReportsApi_GetAllForWell
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellbore
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsGet200TextJsonResponse'
    post:
      tags:
        - MudLogReportsApi
      summary: MudLogReportsApi_Create
      description: MudLogReportsApi_Create
      operationId: MudLogReportsApi_Create
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellbore
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsPost200TextJsonResponse'
  '/api/v2/wells/{duwi}/wellbores/{wellbore}/mudlogreports/{mudLogReportId}':
    put:
      tags:
        - MudLogReportsApi
      summary: MudLogReportsApi_Update
      description: MudLogReportsApi_Update
      operationId: MudLogReportsApi_Update
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellbore
          in: path
          required: true
          schema:
            type: string
        - name: mudLogReportId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MudlogReportInputModel'
            example:
              measuredDepth: 0
              description: string
              averageBG: 0
              lastCG: 0
              lastCGDepth: 0
              lastFG: 0
              lastFGDepth: 0
              lastTrapTest: string
          text/json:
            schema:
              $ref: '#/components/schemas/MudlogReportInputModel'
            example:
              measuredDepth: 0
              description: string
              averageBG: 0
              lastCG: 0
              lastCGDepth: 0
              lastFG: 0
              lastFGDepth: 0
              lastTrapTest: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsMudLogReportIdPut200ApplicationJ'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsMudLogReportIdPut200TextJsonResp'
    delete:
      tags:
        - MudLogReportsApi
      summary: MudLogReportsApi_DeleteMudlogReport
      description: MudLogReportsApi_DeleteMudlogReport
      operationId: MudLogReportsApi_DeleteMudlogReport
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellbore
          in: path
          required: true
          schema:
            type: string
        - name: mudLogReportId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsMudLogReportIdDelete200Applicati'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsMudLogReportIdDelete200TextJsonR'
  '/api/v2/wells/{duwi}/wellbores/{wellbore}/mudlogreports/{mudLogReportId}/files':
    get:
      tags:
        - MudLogReportsApi
      summary: MudLogReportsApi_GetFiles
      description: MudLogReportsApi_GetFiles
      operationId: MudLogReportsApi_GetFiles
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellbore
          in: path
          required: true
          schema:
            type: string
        - name: mudLogReportId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsMudLogReportIdFilesGet200Applica'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsMudLogReportIdFilesGet200TextJso'
    post:
      tags:
        - MudLogReportsApi
      summary: MudLogReportsApi_AddFiles
      description: MudLogReportsApi_AddFiles
      operationId: MudLogReportsApi_AddFiles
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellbore
          in: path
          required: true
          schema:
            type: string
        - name: mudLogReportId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsMudLogReportIdFilesPost200Applic'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiWellboresWellboreMudlogreportsMudLogReportIdFilesPost200TextJs'
  /api/peloton/district:
    get:
      tags:
        - PelotonApi
      summary: PelotonApi_GetDistricts
      description: PelotonApi_GetDistricts
      operationId: PelotonApi_GetDistricts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPelotonDistrictGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiPelotonDistrictGet200TextJsonResponse'
  '/api/permission/well/{wellId}':
    get:
      tags:
        - PermissionApi
      summary: PermissionApi_GetPermissionModel
      description: PermissionApi_GetPermissionModel
      operationId: PermissionApi_GetPermissionModel
      parameters:
        - name: wellId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPermissionWellWellIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiPermissionWellWellIdGet200TextJsonResponse'
  '/api/v2/wells/{duwi}/permissions':
    get:
      tags:
        - PermissionApi
      summary: PermissionApi_GetPermissionModelByDuwi
      description: PermissionApi_GetPermissionModelByDuwi
      operationId: PermissionApi_GetPermissionModelByDuwi
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiPermissionsGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2WellsDuwiPermissionsGet200TextJsonResponse'
  /api/permission/IsCurrentUserAdmin:
    get:
      tags:
        - PermissionApi
      summary: PermissionApi_IsCurrentUserAdmin
      description: PermissionApi_IsCurrentUserAdmin
      operationId: PermissionApi_IsCurrentUserAdmin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPermissionIsCurrentUserAdminGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiPermissionIsCurrentUserAdminGet200TextJsonResponse'
  /api/v1/wellpermissions:
    get:
      tags:
        - PermissionsApi
      summary: PermissionsApi_GetWellPermissions
      description: PermissionsApi_GetWellPermissions
      operationId: PermissionsApi_GetWellPermissions
      parameters:
        - name: options.term
          in: query
          schema:
            type: string
        - name: options.page
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
        - name: options.pageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellpermissionsGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellpermissionsGet200TextJsonResponse'
  /api/v1/well-permissions:
    get:
      tags:
        - PermissionsApi
      summary: PermissionsApi_GetAllWellPermissions
      description: PermissionsApi_GetAllWellPermissions
      operationId: PermissionsApi_GetAllWellPermissions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1Well-permissionsGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1Well-permissionsGet200TextJsonResponse'
  '/api/v1/well-permission/{id}':
    get:
      tags:
        - PermissionsApi
      summary: PermissionsApi_GetWellPermission
      description: PermissionsApi_GetWellPermission
      operationId: PermissionsApi_GetWellPermission
      parameters:
        - name: id
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1Well-permissionIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1Well-permissionIdGet200TextJsonResponse'
  '/api/v1/well-permissions/{permissionId}/delete':
    delete:
      tags:
        - PermissionsApi
      summary: PermissionsApi_DeleteWellPermission
      description: PermissionsApi_DeleteWellPermission
      operationId: PermissionsApi_DeleteWellPermission
      parameters:
        - name: permissionId
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1Well-permissionsPermissionIdDeleteDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1Well-permissionsPermissionIdDeleteDelete200TextJsonResponse'
  /api/picklist/WellStatus:
    get:
      tags:
        - PickListApi
      summary: PickListApi_GetWellStatuses
      description: PickListApi_GetWellStatuses
      operationId: PickListApi_GetWellStatuses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistWellStatusGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistWellStatusGet200TextJsonResponse'
  /api/picklist/WellboreName:
    get:
      tags:
        - PickListApi
      summary: PickListApi_GetWellboreNames
      description: PickListApi_GetWellboreNames
      operationId: PickListApi_GetWellboreNames
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistWellboreNameGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistWellboreNameGet200TextJsonResponse'
  /api/picklist/FileType:
    get:
      tags:
        - PickListApi
      summary: PickListApi_GetFileTypes
      description: PickListApi_GetFileTypes
      operationId: PickListApi_GetFileTypes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistFileTypeGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistFileTypeGet200TextJsonResponse'
  /api/picklist/SurveyMethod:
    get:
      tags:
        - PickListApi
      summary: PickListApi_GetSurveyMethods
      description: PickListApi_GetSurveyMethods
      operationId: PickListApi_GetSurveyMethods
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistSurveyMethodGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistSurveyMethodGet200TextJsonResponse'
  /api/picklist/ContactRole:
    get:
      tags:
        - PickListApi
      summary: PickListApi_GetContactRoles
      description: PickListApi_GetContactRoles
      operationId: PickListApi_GetContactRoles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistContactRoleGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistContactRoleGet200TextJsonResponse'
  /api/picklist/HoleSection:
    get:
      tags:
        - PickListApi
      summary: PickListApi_GetHoleSections
      description: PickListApi_GetHoleSections
      operationId: PickListApi_GetHoleSections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistHoleSectionGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistHoleSectionGet200TextJsonResponse'
  /api/picklist/SurveyCompany:
    get:
      tags:
        - PickListApi
      summary: PickListApi_GetSurveyCompanies
      description: PickListApi_GetSurveyCompanies
      operationId: PickListApi_GetSurveyCompanies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistSurveyCompanyGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiPicklistSurveyCompanyGet200TextJsonResponse'
  /api/v1/rigs:
    get:
      tags:
        - RigsApi
      summary: RigsApi_GetAll
      description: RigsApi_GetAll
      operationId: RigsApi_GetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1RigsGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1RigsGet200TextJsonResponse'
  /api/v1/roles:
    get:
      tags:
        - RolesApi
      summary: RolesApi_GetAll
      description: RolesApi_GetAll
      operationId: RolesApi_GetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1RolesGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1RolesGet200TextJsonResponse'
  '/api/v1/roles/{roleId}/delete':
    delete:
      tags:
        - RolesApi
      summary: RolesApi_Delete
      description: RolesApi_Delete
      operationId: RolesApi_Delete
      parameters:
        - name: roleId
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1RolesRoleIdDeleteDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1RolesRoleIdDeleteDelete200TextJsonResponse'
  '/api/v2/roles/{roleId}':
    get:
      tags:
        - RolesApiV2
      summary: RolesApiV2_GetById
      description: RolesApiV2_GetById
      operationId: RolesApiV2_GetById
      parameters:
        - name: roleId
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2RolesRoleIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2RolesRoleIdGet200TextJsonResponse'
    put:
      tags:
        - RolesApiV2
      summary: RolesApiV2_Update
      description: RolesApiV2_Update
      operationId: RolesApiV2_Update
      parameters:
        - name: roleId
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleEditModel'
            example:
              name: string
              description: string
              wellPermissions:
                - 0
              applicationPermissions:
                - 0
          text/json:
            schema:
              $ref: '#/components/schemas/RoleEditModel'
            example:
              name: string
              description: string
              wellPermissions:
                - 0
              applicationPermissions:
                - 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2RolesRoleIdPut200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2RolesRoleIdPut200TextJsonResponse'
    delete:
      tags:
        - RolesApiV2
      summary: RolesApiV2_Delete
      description: RolesApiV2_Delete
      operationId: RolesApiV2_Delete
      parameters:
        - name: roleId
          in: path
          description: Format - int64.
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2RolesRoleIdDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2RolesRoleIdDelete200TextJsonResponse'
  /api/v2/roles:
    get:
      tags:
        - RolesApiV2
      summary: RolesApiV2_Search
      description: RolesApiV2_Search
      operationId: RolesApiV2_Search
      parameters:
        - name: options.question
          in: query
          schema:
            type: string
        - name: options.page
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
        - name: options.pageSize
          in: query
          description: Format - int32.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2RolesGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2RolesGet200TextJsonResponse'
    post:
      tags:
        - RolesApiV2
      summary: RolesApiV2_Create
      description: RolesApiV2_Create
      operationId: RolesApiV2_Create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleEditModel'
            example:
              name: string
              description: string
              wellPermissions:
                - 0
              applicationPermissions:
                - 0
          text/json:
            schema:
              $ref: '#/components/schemas/RoleEditModel'
            example:
              name: string
              description: string
              wellPermissions:
                - 0
              applicationPermissions:
                - 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV2RolesPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV2RolesPost200TextJsonResponse'
  '/api/v1/wells/{duwi}/wellbores/{wellboreName}/slidesheet':
    get:
      tags:
        - SlideSheetApi
      summary: SlideSheetApi_Get
      description: SlideSheetApi_Get
      operationId: SlideSheetApi_Get
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellboreName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiWellboresWellboreNameSlidesheetGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiWellboresWellboreNameSlidesheetGet200TextJsonResponse'
  '/vendor/v2/surveys/{surveyId}/stations':
    get:
      tags:
        - Stations
      summary: Stations_GetStationsBySurveyId
      description: Stations_GetStationsBySurveyId
      operationId: Stations_GetStationsBySurveyId
      parameters:
        - name: surveyId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2SurveysSurveyIdStationsGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2SurveysSurveyIdStationsGet200TextJsonResponse'
  '/vendor/v2/well/{duwi}/wellbore/{wellboreName}/composite':
    get:
      tags:
        - Stations
      summary: Stations_GetCompositeStations
      description: Stations_GetCompositeStations
      operationId: Stations_GetCompositeStations
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellboreName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiWellboreWellboreNameCompositeGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiWellboreWellboreNameCompositeGet200TextJsonResponse'
  /api/subscriber:
    get:
      tags:
        - SubscriberApi
      summary: SubscriberApi_GetAll
      description: SubscriberApi_GetAll
      operationId: SubscriberApi_GetAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriberGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriberGet200TextJsonResponse'
    post:
      tags:
        - SubscriberApi
      summary: SubscriberApi_CreateSubscription
      description: SubscriberApi_CreateSubscription
      operationId: SubscriberApi_CreateSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscriber'
            example:
              subscriberId: 0
              callbackUrl: string
              eventType: surveyStationCreated
              events:
                - { }
          text/json:
            schema:
              $ref: '#/components/schemas/Subscriber'
            example:
              subscriberId: 0
              callbackUrl: string
              eventType: surveyStationCreated
              events:
                - { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriberPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriberPost200TextJsonResponse'
  '/api/subscriber/{subscriberId}':
    get:
      tags:
        - SubscriberApi
      summary: SubscriberApi_Get
      description: SubscriberApi_Get
      operationId: SubscriberApi_Get
      parameters:
        - name: subscriberId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriberSubscriberIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriberSubscriberIdGet200TextJsonResponse'
    put:
      tags:
        - SubscriberApi
      summary: SubscriberApi_UpdateSubscription
      description: SubscriberApi_UpdateSubscription
      operationId: SubscriberApi_UpdateSubscription
      parameters:
        - name: subscriberId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscriber'
            example:
              subscriberId: 0
              callbackUrl: string
              eventType: surveyStationCreated
              events:
                - { }
          text/json:
            schema:
              $ref: '#/components/schemas/Subscriber'
            example:
              subscriberId: 0
              callbackUrl: string
              eventType: surveyStationCreated
              events:
                - { }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriberSubscriberIdPut200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriberSubscriberIdPut200TextJsonResponse'
    delete:
      tags:
        - SubscriberApi
      summary: SubscriberApi_DeleteSubscription
      description: SubscriberApi_DeleteSubscription
      operationId: SubscriberApi_DeleteSubscription
      parameters:
        - name: subscriberId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriberSubscriberIdDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriberSubscriberIdDelete200TextJsonResponse'
  '/vendor/v2/well/{duwi}/wellbore/{wellboreName}/surveys':
    get:
      tags:
        - Surveys
      summary: Surveys_GetAllSurveys
      description: Surveys_GetAllSurveys
      operationId: Surveys_GetAllSurveys
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellboreName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiWellboreWellboreNameSurveysGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorV2WellDuwiWellboreWellboreNameSurveysGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/wellbores/{wellboreId}/surveys/{surveyId}/delete':
    delete:
      tags:
        - SurveysApi
      summary: SurveysApi_DeleteBy
      description: SurveysApi_DeleteBy
      operationId: SurveysApi_DeleteBy
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: wellboreId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
        - name: surveyId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiWellboresWellboreIdSurveysSurveyIdDeleteDelete200ApplicationJs'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiWellboresWellboreIdSurveysSurveyIdDeleteDelete200TextJsonRespo'
  '/api/surveys/{surveyId}':
    delete:
      tags:
        - SurveysApi
      summary: SurveysApi_DeleteById
      description: SurveysApi_DeleteById
      operationId: SurveysApi_DeleteById
      parameters:
        - name: surveyId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSurveysSurveyIdDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiSurveysSurveyIdDelete200TextJsonResponse'
  '/api/v1/wells/{duwi}/surveys/{surveyId}':
    get:
      tags:
        - SurveysApi
      summary: SurveysApi_GetSurvey
      description: SurveysApi_GetSurvey
      operationId: SurveysApi_GetSurvey
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: surveyId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysSurveyIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysSurveyIdGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/surveys/{surveyid}/updateplan':
    post:
      tags:
        - SurveysApi
      summary: SurveysApi_UpdatePlanNumber
      description: SurveysApi_UpdatePlanNumber
      operationId: SurveysApi_UpdatePlanNumber
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: surveyid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditPlanNumberModel'
            example:
              wellId: 0
              surveyId: 0
              planNumber: string
          text/json:
            schema:
              $ref: '#/components/schemas/EditPlanNumberModel'
            example:
              wellId: 0
              surveyId: 0
              planNumber: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysSurveyidUpdateplanPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysSurveyidUpdateplanPost200TextJsonResponse'
  '/api/surveys/{surveyId}/stations':
    delete:
      tags:
        - SurveysApi
      summary: SurveysApi_DeleteAllStations
      description: SurveysApi_DeleteAllStations
      operationId: SurveysApi_DeleteAllStations
      parameters:
        - name: surveyId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSurveysSurveyIdStationsDelete200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiSurveysSurveyIdStationsDelete200TextJsonResponse'
  '/api/wellbore/{wellboreId}/surveys':
    get:
      tags:
        - SurveysApi
      summary: SurveysApi_GetSurveysByWellboreId
      description: SurveysApi_GetSurveysByWellboreId
      operationId: SurveysApi_GetSurveysByWellboreId
      parameters:
        - name: wellboreId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWellboreWellboreIdSurveysGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiWellboreWellboreIdSurveysGet200TextJsonResponse'
  '/api/wellbore/{wellboreId}/surveys/manage':
    get:
      tags:
        - SurveysApi
      summary: SurveysApi_GetManageSurveysTableByWellboreId
      description: SurveysApi_GetManageSurveysTableByWellboreId
      operationId: SurveysApi_GetManageSurveysTableByWellboreId
      parameters:
        - name: wellboreId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiWellboreWellboreIdSurveysManageGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiWellboreWellboreIdSurveysManageGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/surveys/activesurvey':
    get:
      tags:
        - SurveysApi
      summary: SurveysApi_GetActiveSurvey
      description: SurveysApi_GetActiveSurvey
      operationId: SurveysApi_GetActiveSurvey
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysActivesurveyGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysActivesurveyGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/surveys':
    get:
      tags:
        - SurveysApi
      summary: SurveysApi_Get
      description: SurveysApi_Get
      operationId: SurveysApi_Get
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysGet200TextJsonResponse'
    put:
      tags:
        - SurveysApi
      summary: SurveysApi_Update
      description: SurveysApi_Update
      operationId: SurveysApi_Update
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveyModel'
            example:
              surveyId: 0
              wellboreId: 0
              wellboreName: string
              surveyName: string
              northingDirection: gRID
              declination: 0
              convergence: 0
              offsetLength: 0
              tieInMd: 0
              tieInInc: 0
              tieInAzi: 0
              tieInTvd: 0
              tieInVs: 0
              tieInNs: 0
              tieInEw: 0
              isDeleted: true
              mdFrom: 0
              mdTo: 0
              planNumber: string
              tdStation: 0
              hasSurveyStations: true
              ablr:
                surveyId: 0
                aboveBelow: 0
                leftRight: 0
              plan:
                surveyId: 0
                planNumber: string
              surveyExists: true
              createdOn: string
              coordinateRefSystemId: 0
              tieInKind: fromSurface
              tieInSurveyId: 0
          text/json:
            schema:
              $ref: '#/components/schemas/SurveyModel'
            example:
              surveyId: 0
              wellboreId: 0
              wellboreName: string
              surveyName: string
              northingDirection: gRID
              declination: 0
              convergence: 0
              offsetLength: 0
              tieInMd: 0
              tieInInc: 0
              tieInAzi: 0
              tieInTvd: 0
              tieInVs: 0
              tieInNs: 0
              tieInEw: 0
              isDeleted: true
              mdFrom: 0
              mdTo: 0
              planNumber: string
              tdStation: 0
              hasSurveyStations: true
              ablr:
                surveyId: 0
                aboveBelow: 0
                leftRight: 0
              plan:
                surveyId: 0
                planNumber: string
              surveyExists: true
              createdOn: string
              coordinateRefSystemId: 0
              tieInKind: fromSurface
              tieInSurveyId: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysPut200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysPut200TextJsonResponse'
    post:
      tags:
        - SurveysApi
      summary: SurveysApi_Create
      description: SurveysApi_Create
      operationId: SurveysApi_Create
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SurveyModel'
            example:
              surveyId: 0
              wellboreId: 0
              wellboreName: string
              surveyName: string
              northingDirection: gRID
              declination: 0
              convergence: 0
              offsetLength: 0
              tieInMd: 0
              tieInInc: 0
              tieInAzi: 0
              tieInTvd: 0
              tieInVs: 0
              tieInNs: 0
              tieInEw: 0
              isDeleted: true
              mdFrom: 0
              mdTo: 0
              planNumber: string
              tdStation: 0
              hasSurveyStations: true
              ablr:
                surveyId: 0
                aboveBelow: 0
                leftRight: 0
              plan:
                surveyId: 0
                planNumber: string
              surveyExists: true
              createdOn: string
              coordinateRefSystemId: 0
              tieInKind: fromSurface
              tieInSurveyId: 0
          text/json:
            schema:
              $ref: '#/components/schemas/SurveyModel'
            example:
              surveyId: 0
              wellboreId: 0
              wellboreName: string
              surveyName: string
              northingDirection: gRID
              declination: 0
              convergence: 0
              offsetLength: 0
              tieInMd: 0
              tieInInc: 0
              tieInAzi: 0
              tieInTvd: 0
              tieInVs: 0
              tieInNs: 0
              tieInEw: 0
              isDeleted: true
              mdFrom: 0
              mdTo: 0
              planNumber: string
              tdStation: 0
              hasSurveyStations: true
              ablr:
                surveyId: 0
                aboveBelow: 0
                leftRight: 0
              plan:
                surveyId: 0
                planNumber: string
              surveyExists: true
              createdOn: string
              coordinateRefSystemId: 0
              tieInKind: fromSurface
              tieInSurveyId: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysPost200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysPost200TextJsonResponse'
  '/api/v1/wells/{duwi}/surveys/surface':
    get:
      tags:
        - SurveysApi
      summary: SurveysApi_GetFirstSurvey
      description: SurveysApi_GetFirstSurvey
      operationId: SurveysApi_GetFirstSurvey
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysSurfaceGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysSurfaceGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/surveystations/{surveyStationId}':
    get:
      tags:
        - SurveyStationsApi
      summary: SurveyStationsApi_GetSurveyStation
      description: SurveyStationsApi_GetSurveyStation
      operationId: SurveyStationsApi_GetSurveyStation
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: surveyStationId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveystationsSurveyStationIdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveystationsSurveyStationIdGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/surveys/{surveyId}/surveystations/md/{md}':
    get:
      tags:
        - SurveyStationsApi
      summary: SurveyStationsApi_GetSurveyStationByDepth
      description: SurveyStationsApi_GetSurveyStationByDepth
      operationId: SurveyStationsApi_GetSurveyStationByDepth
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: surveyId
          in: path
          description: Format - int32.
          required: true
          schema:
            type: integer
            format: int32
        - name: md
          in: path
          description: Format - double.
          required: true
          schema:
            type: number
            format: double
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysSurveyIdSurveystationsMdMdGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysSurveyIdSurveystationsMdMdGet200TextJsonResponse'
  '/api/v1/wells/{duwi}/surveys/{surveyid}/surveystations':
    put:
      tags:
        - SurveyStationsApi
      summary: SurveyStationsApi_UpdateSurveyStation
      description: SurveyStationsApi_UpdateSurveyStation
      operationId: SurveyStationsApi_UpdateSurveyStation
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: surveyid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditSurveyStationModel'
            example:
              surveyStationId: 0
              surveyId: 0
              md: 0
              inc: 0
              azi: 0
              tvd: 0
              vs: 0
              ns: 0
              ew: 0
              dls: 0
              surveyMethod: string
              holeSection: string
              surveyCompany: string
              ptbMd: 0
              ptbInc: 0
              ptbAzi: 0
              ptbTvd: 0
              ptbVs: 0
              ptbNs: 0
              ptbEw: 0
              ptbDls: 0
              ptbDlnl: 0
              ptbMy: 0
              planNumber: string
              aboveBelow: 0
              leftRight: 0
              isPtbABLR: true
              surveyOffsetLength: 0
              straightLineProjection: true
              note: string
              offsetLength: 0
              isTdStation: true
          text/json:
            schema:
              $ref: '#/components/schemas/EditSurveyStationModel'
            example:
              surveyStationId: 0
              surveyId: 0
              md: 0
              inc: 0
              azi: 0
              tvd: 0
              vs: 0
              ns: 0
              ew: 0
              dls: 0
              surveyMethod: string
              holeSection: string
              surveyCompany: string
              ptbMd: 0
              ptbInc: 0
              ptbAzi: 0
              ptbTvd: 0
              ptbVs: 0
              ptbNs: 0
              ptbEw: 0
              ptbDls: 0
              ptbDlnl: 0
              ptbMy: 0
              planNumber: string
              aboveBelow: 0
              leftRight: 0
              isPtbABLR: true
              surveyOffsetLength: 0
              straightLineProjection: true
              note: string
              offsetLength: 0
              isTdStation: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysSurveyidSurveystationsPut200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiV1WellsDuwiSurveysSurveyidSurveystationsPut200TextJsonResponse'
    post:
      tags:
        - SurveyStationsApi
      summary: SurveyStationsApi_CreateSurveyStation
      description: SurveyStationsApi_CreateSurveyStation
      operationId: SurveyStationsApi_CreateSurveyStation
      parameters:
        - name: duwi
          in: path
          required: true
          schema:
            type: string
        - name: surveyid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSurveyStationModel'
            example:
              surveyId: 0
              surveyStationId: 0
              md: 0
              inc: 0
              azi: 0
              tvd: 0
              vs: 0
              ns: 0
              ew: 0
              dls: 0
              surveyMethod: string
              holeSection: string
              surveyCompany: string
              ptbMd: 0
              ptbInc: 0
              ptbAzi: 0
              ptbTvd: 0
              ptbVs: 0
              ptbNs: 0
              ptbEw: 0
              ptbDls: 0
              ptbDlnl: 0
              ptbMy: 0
              planNumber: string
              aboveBelow: 0
              leftRight: 0
[...]
